:root {
  /* #111827 in RBB */
  --font-color: 17, 24, 39;
  --background-color: whitesmoke;
  --border-style: 1px solid #d1d5db;
  --border-radius: 5px;
  --hover-focus-background: #e6e6e6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 70px calc(100dvh - 130px) 60px / 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
  font-family: 'Inter', sans-serif;
  color: rgb(var(--font-color));
  background-color: var(--background-color);
}

header,
main,
footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header,
form,
footer {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

header {
  grid-area: header;
  border-bottom: var(--border-style);
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

form {
  grid-area: form;
  height: 140px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: var(--border-style);
}

footer {
  grid-area: footer;
  justify-content: end;
  font-size: 0.75rem;
  font-weight: 500;
  border-top: var(--border-style);
}

footer p {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

input,
select,
button {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: var(--border-style);
  border-radius: var(--border-radius);
  outline: none;
  margin: 0;
  transition: background-color 200ms ease-in;
}

a {
  outline: none;
}

input:focus,
select:focus,
button:focus {
  box-shadow: 0 0 5px 2px rgba(var(--font-color), 0.2);
}

a:focus {
  background-color: var(--hover-focus-background);
}

input:hover,
select:hover,
button:hover {
  background-color: var(--hover-focus-background);
}

input {
  min-width: 3.125rem;
  height: 2.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  padding: 0.785em 1.85em 0.785em 0.715em;
}

dl {
  margin: 0;
}

dt {
  display: inline;
  font-weight: bold;
}

dd {
  display: inline;
  margin: 0;
}

dt::before {
  content: '';
  display: block;
  margin-top: 1em;
}

.select-container {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  border: var(--border-style);
  border-radius: var(--border-radius);
}

.select-container::after {
  justify-self: end;
  content: '';
  width: 0.75em;
  height: 0.5em;
  pointer-events: none;
  background-color: rgba(var(--font-color), 0.8);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  margin-right: 0.5em;
}

select,
.select-container::after {
  grid-area: select;
}

.submit-button {
  flex: 1 0 100%;
  margin-top: 1em;
  background-color: transparent;
  padding: 0.785em 1em;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  flex-grow: 1;
}

.result-container {
  display: flex;
  flex-direction: column;
}

.result-color {
  flex-grow: 1;
}

.result-values {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  padding: 1em 0.25em;
}

.result-name {
  display: none;
}

.result-button {
  border: none;
  margin-top: 0;
  padding: 0.15em;
}

.result-tooltip {
  position: relative;
}

/* Tooltip content */
.result-tooltip::before {
  content: attr(data-tooltip);
  top: -3em;
  left: 50%;
  color: var(--background-color);
  background-color: rgb(var(--font-color));
  border-radius: var(--border-radius);
  padding: 0.5em;
}

/* Tooltip arrow */
.result-tooltip::after {
  content: '';
  top: -0.85em;
  left: 50%;
  border: 10px solid transparent;
  border-color: rgb(var(--font-color)) transparent transparent transparent;
}

.result-tooltip::before,
.result-tooltip::after {
  position: absolute;
  font-size: 0.875rem;
  transform: translateX(-50%);
  transition: opacity 300ms;
  opacity: 0;
}

.result-tooltip:hover::before,
.result-tooltip:hover::after {
  opacity: 1;
}

.definition-modal {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100dvh;
  background-color: rgb(var(--font-color), 0.5);
  padding: 1.5em;
}

.definition-container {
  width: 100%;
  max-width: 520px;
  background-color: var(--background-color);
  padding: 1.5em;
}

.definition-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1em 0;
}

.definition-title {
  margin: 0;
}

.definition-btn {
  width: 40px;
  height: 40px;
  border: var(--border-style);
  border-radius: 50%;
  padding: 0;
}

@media (min-width: 512px) {
  h1 {
    font-size: 2rem;
  }

  form {
    height: 84px;
  }

  input,
  select,
  button {
    font-size: 1rem;
  }

  select {
    padding: 0.625em 1.625em 0.625em 0.625em;
  }

  .submit-button {
    flex: none;
    margin-top: 0;
    padding: 0.625em 1em;
  }

  .result-values {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  body {
    grid-template: 80px calc(100dvh - 160px) 80px / 100%;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }

  .result-name {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.75em;
  }
}
